
Build/Intermediates/category.build/Debug-iphonesimulator/category.build/Objects-normal/x86_64/UIButton+Block.d

*.dia

*.o

*.d

*.dat

*.nib

*.hmap

Build/Intermediates/category.build/Debug-iphonesimulator/category.build/Base.lproj/LaunchScreen.storyboardc/Info.plist

Build/Intermediates/category.build/Debug-iphonesimulator/category.build/assetcatalog_generated_info.plist

Build/Intermediates/category.build/Debug-iphonesimulator/category.build/Base.lproj/Main.storyboardc/Info.plist

Build/Intermediates/category.build/Debug-iphonesimulator/category.build/assetcatalog_dependencies

Build/Intermediates/category.build/Debug-iphonesimulator/category.build/dgph

Build/Intermediates/category.build/Debug-iphonesimulator/category.build/Main-SBPartialInfo.plist

Build/Products/Debug-iphonesimulator/category.app/Assets.car

Build/Products/Debug-iphonesimulator/category.app/Base.lproj/Main.storyboardc/Info.plist

Build/Products/Debug-iphonesimulator/category.app/PkgInfo

Build/Products/Debug-iphonesimulator/category.app/Info.plist

Build/Products/Debug-iphonesimulator/category.app/Base.lproj/LaunchScreen.storyboardc/Info.plist

Build/Intermediates/category.build/Debug-iphonesimulator/category.build/Objects-normal/x86_64/category.LinkFileList

Build/Intermediates/category.build/Debug-iphonesimulator/category.build/LaunchScreen-SBPartialInfo.plist

Build/Products/Debug-iphonesimulator/category.app/category
